<strong>Olá, {{ name }} </strong>
<p>Aqui está a resposta sobre sua solicitação de ajuda:</p>
<p>
  <strong>Pergunta: </strong>
  <br />
  {{ question }}
</p>
<p>
  <strong>Resposta: </strong>
  <br />
  {{ asnwer }}
</p>
<p>Estamos sempre prontos para qualquer dúvida.<br />
    Um forte abraço!!!!!
</p>

<p>Porto Velho, {{ date }}</p>
